<template>
  <b-container>
    <b-row>
      <b-col>
        <b-form @submit.prevent="onSubmit" @reset="onReset" v-if="show">
          <b-form-group id="input-group-3" label="How would you rate your typing skills?" label-for="input-3">
            <b-form-select
              id="input-3"
              v-model="form.typing"
              :options="levels"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group label="Do you know how to use word processor software like Microsoft word?">
            <b-form-radio v-model="word" name="ms-word" value="yes">Yes</b-form-radio>
            <b-form-radio v-model="word" name="ms-word" value="no">No</b-form-radio>
          </b-form-group>

          <b-form-group label="Have you ever done any coding (computer programming)?">
            <b-form-radio v-model="code" name="coding" value="yes">Yes</b-form-radio>
            <b-form-radio v-model="code" name="coding" value="no">No</b-form-radio>
          </b-form-group>

          <b-form-group label="Please select any of the following technologies or skills that you have.">
            <v-select
              v-model="form.tech"
              :options="['SQL', 'HTML', 'CSS', 'JavaScript', 'Python', 'Data Science', 'Java', 'Golang', '.NET', 'Project Mangement']"
              taggable
              multiple
              push-tags
            />
          </b-form-group>

          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'AssessmentForm',
  data() {
    return {
      form: {
        typing: null,
        word: '',
        code: '',
        tech: []
      },
      levels: [{ text: 'Select One', value: null }, 'Beginner', 'Intermediate', 'Advanced'],
      show: true
    }
  },
  methods: {
    ...mapActions([
      'saveAssessment'
    ]),
    onSubmit(evt) {
      evt.preventDefault()
      this.saveAssessment(this.form)
      this.$router.push('/education')
    },
    onReset(evt) {
      evt.preventDefault()
      // Reset our form values
      this.form.typing = null
      this.form.word = null
      this.form.code = null
      this.form.tech = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>

<style lang="sass" scoped>
h1
  margin: 50px 0 20px
  font-size: 30px
h2
  font-size: 24px
li
  font-size: 16px
hr
  margin: 40px 0
.btn-primary
  margin-right: 10px
</style>
