<template>
  <b-container>
    <b-row>
      <b-col>
        <h2>Courses & Learning Materials</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="custom-card">
          <div class="card-top-row">
            <h3>Basic Computer Skills</h3>
            <b-badge variant="info">local</b-badge>
            <b-badge variant="info">4 hours</b-badge>
          </div>
          <div class="card-progress">
            <b-progress variant="success" :value="100" :max="100" show-progress></b-progress>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="custom-card" @click="webDevLink">
          <div class="card-top-row">
            <h3>Web Development Certificate</h3>
            <b-badge variant="info">online</b-badge>
            <b-badge variant="info">900 hours</b-badge>
          </div>
          <div class="card-progress">
            <b-progress variant="success" :value="17" :max="100" show-progress></b-progress>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'PortalCourses',
  data() {
    return {
    }
  },
  methods: {
    ...mapActions([
      'saveAssessment'
    ]),
    webDevLink() {
      window.open('https://learn.freecodecamp.org', '_blank')
    }
  }
}
</script>

<style lang="sass" scoped>
h2
  font-size: 24px
h3
  margin-bottom: 0
li
  font-size: 16px
hr
  margin: 40px 0
.btn-primary
  margin-right: 10px
.custom-card
  border: 1px solid
  border-radius: 4px
  padding: 8px
  margin: 10px 0
  &:hover
    cursor: pointer
.card-top-row
  display: flex
  align-items: center
  flex-direction: row
  margin-bottom: 10px
.badge.badge-info
  font-size: 14px
  margin-left: 8px
</style>
