<template>
  <b-container>
    <b-row>
      <b-col class="header-column">
        <h2>Local Support Groups</h2>
        <b-button variant="outline-primary" v-b-modal.modal-1>View All Local Events <i class="fa fa-calendar"></i></b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <div class="custom-card">
          <div class="card-top-row">
            <h3>freeCodeCampIndy</h3>
            <a href="https://www.freecodecamp.org/forum/c/united-states-study-groups/indianapolis" target="_blank"><b-button variant="primary">See Events</b-button></a>
          </div>
          <div class="card-progress">
            <p>Indianapolis based support group for people learning web development and other technical skills.</p>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-modal id="modal-1" title="All Local Events">
      <full-calendar :config="config" :events="events" />
    </b-modal>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'
import moment from 'moment'

export default {
  name: 'PortalGroups',
  data () {
    return {
      events: [
        {
          title: 'test',
          allDay: true,
          start: moment(),
          end: moment().add(1, 'd')
        },
        {
          title: 'another test',
          start: moment().add(2, 'd'),
          end: moment().add(2, 'd').add(2, 'h')
        }
      ],
      config: {
        defaultView: 'month',
        eventRender: function(event, element) {
          console.log(event)
        }
      }
    }
  },
  methods: {
    ...mapActions([
      'saveAssessment'
    ])
  }
}
</script>

<style lang="sass" scoped>
h2
  font-size: 24px
h3
  margin-bottom: 0
li
  font-size: 16px
hr
  margin: 40px 0
.btn-primary
  margin-right: 10px
.custom-card
  border: 1px solid
  border-radius: 4px
  padding: 8px
  margin: 10px 0 60px
.card-top-row, .header-column
  display: flex
  align-items: center
  flex-direction: row
  justify-content: space-between
  margin-bottom: 10px
.btn.btn-primary
  font-size: 14px
</style>
