<template>
  <b-container>
    <b-row>
      <b-col>
        <h1>Welcome to the HandUp Education Platform</h1>
        <p>This portal is a free, community-driven resource to help you gain relevant job skills in today's economy.</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h2>Instructions</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <ol>
          <li :class="{ strike: assessment.typing }">Take this short assessment to see what services you might benefit from the most.</li>
          <li>Sign up for the recommended classes or online programs.</li>
          <li>Attend group meetings as often as possible to stay on track with your learning.</li>
        </ol>
      </b-col>
    </b-row>
    <router-link to="/education/assessment" v-if="!assessment.typing"><b-button variant="primary">Take Assessment</b-button></router-link>
  </b-container>
</template>

<script>
export default {
  name: 'PortalMain',
  props: [
    'assessment'
  ]
}
</script>

<style lang="sass" scoped>
h1
  margin: 50px 0 20px
  font-size: 30px
h2
  font-size: 24px
li
  font-size: 16px
hr
  margin: 40px 0
.strike
  text-decoration: line-through
</style>
