<template>
  <div class="home">
    <b-container>
    <b-row>
      <b-col>
        <h1>Technical Knowledge Assessment</h1>
        <p><em>It's ok if you don't know or aren't sure about the terms in these questions. This is only to let us know what skills you possess so we can recommend the best resources for you.</em></p>
      </b-col>
    </b-row>
  </b-container>
  </div>
</template>

<script>
export default {
  name: 'about'
}
</script>

<style lang="sass" scoped>
h1
  margin: 50px 0 20px
  font-size: 30px
h2
  font-size: 24px
h3
  font-size: 16px
li
  font-size: 12px
hr
  margin: 40px 0
</style>
