<template>
  <b-container class="admin-page-container">

    <b-row>
      <b-col sm="12">
        <h2>Admin Portal</h2>
        <h4>Total Engagement</h4>
      </b-col>
    </b-row>

    <b-row>
      <b-col sm="12">
        <chartist
          type="Pie"
          :data="pieChart.data"
          :options="pieChart.options"
        ></chartist>
        <h4>Top Services Requested</h4>
      </b-col>
    </b-row>

    <b-row>
      <b-col sm="12">
        <b-table
          selectable
          striped
          hover
          :items="tableItems"
          @row-selected="rowSelected"
        ></b-table>
      </b-col>
    </b-row>

  </b-container>
</template>

<script>
import axios from 'axios'
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'admin',
  data () {
    return {
      fields: ['name', '#OfRequests', 'description']
    }
  },
  computed: {
    ...mapState([
      'stats'
    ]),
    pieChart() {
      return {
        data: {
          labels: [`${this.stats.engagements}%`, `${(100 - this.stats.engagements)}%`],
          series: [this.stats.engagements, 100 - this.stats.engagements]
        },
        options: {
          width: 400,
          height: 400
        }
      }
    },
    tableItems() {
      return [
        { name: 'Food', '#OfRequests': this.stats.requests.food, description: 'Meals' },
        { name: 'Housing', '#OfRequests': this.stats.requests.housing, description: 'Housing Services' },
        { name: 'Jobs', '#OfRequests': this.stats.requests.jobs, description: 'Work' }
      ]
    }
  },
  methods: {
    ...mapMutations([
      'updateStats'
    ]),
    rowSelected (e) {
      this.$router.push({
        name: 'adminService',
        params: {
          service: e[0].name.toLowerCase()
        }
      })
    }
  },
  created() {
    axios.get('https://civic-hackathon-2019.herokuapp.com/stats')
    // axios.get('http://localhost:3000/stats')
      .then(stats => {
        this.updateStats(stats.data)
      })
  }
}
</script>
