<template>
  <b-container class="admin-service-container">

    <b-row>
      <b-col sm="12">
        <h2>{{ service }} Services</h2>
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      </b-col>
    </b-row>

    <b-row>
      <b-col sm="12">
        <h4>Details</h4>
        <p v-if="service === 'Food'">The Food and Nutrition Service (FNS) works to end hunger and obesity through the administration of various federal, state, and local nutrition assistance programs including WIC, Supplemental Nutrition Assistance Program, and school meals. This app provides information to people seeking these services.</p>
        <p v-else-if="service === 'Housing'">If someone is facing homelessness or needs housing services, this app can help you prepare for and work through these situations.</p>
        <p v-else-if="service === 'Jobs'">This app provides information and assistance for federal jobs and apprenticeship programs. It also helps people develop the skills they need to thrive in today's changing economy.</p>
      </b-col>
    </b-row>

    <b-row>
      <b-col sm="12">
        <h4>Engagement Information</h4>
        <chartist
          ratio="ct-major-second"
          type="Line"
          :data="getChartData()"
          :options="chartOptions" >
        </chartist>
      </b-col>
    </b-row>

  </b-container>
</template>

<script>
import axios from 'axios'
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'adminService',
  data() {
    return {
      chartOptions: {
        lineSmooth: true
      }
    }
  },
  computed: {
    ...mapState([
      'stats'
    ]),
    service() {
      const service = this.$route.params.service
      return `${service.charAt(0).toUpperCase()}${service.substring(1)}`
    },
    breadcrumbs() {
      const service = this.$route.params.service

      return [
        {
          text: 'Admin',
          to: { name: 'admin' }
        },
        {
          text: service === 'snap'
            ? service.toUpperCase()
            : `${service.charAt(0).toUpperCase()}${service.substring(1)}`,
          active: true
        }
      ]
    }
  },
  methods: {
    ...mapMutations([
      'updateStats'
    ]),
    getChartData() {
      const service = this.$route.params.service

      return {
        labels: ['February', 'March', 'April', 'May', 'June', 'July'],
        series: [[2, 7, 11, 13, this.stats.requests[service]]]
      }
    }
  },
  created() {
    axios.get('https://civic-hackathon-2019.herokuapp.com/stats')
    // axios.get('http://localhost:3000/stats')
      .then(stats => {
        this.updateStats(stats.data)
      })
  }
}
</script>

<style lang="sass" scoped>
.admin-service-container
  margin-top: 50px
</style>
