<template>
  <div class="education-container">
    <PortalMain :assessment="assessment" />
    <hr v-if="assessment.typing" />
    <PortalCourses v-if="assessment.typing" />
    <hr v-if="assessment.typing" />
    <PortalGroups v-if="assessment.typing" />
  </div>
</template>

<script>
import { mapState } from 'vuex'

import PortalMain from '@/components/education/PortalMain.vue'
import PortalCourses from '@/components/education/PortalCourses.vue'
import PortalGroups from '@/components/education/PortalGroups.vue'

export default {
  name: 'education',
  components: {
    PortalMain,
    PortalCourses,
    PortalGroups
  },
  computed: {
    ...mapState([
      'assessment'
    ])
  }
}
</script>

<style lang="sass" scoped>
hr
  margin: 30px 0
</style>
