<template>
  <div class="home-container">
    <HomeResources />
  </div>
</template>

<script>
import HomeResources from '@/components/HomeResources.vue'

export default {
  name: 'home',
  components: {
    HomeResources
  }
}
</script>
