<template>
  <b-container>
    <b-row>
      <b-col>
        <h1>Welcome to Project HandUp</h1>
        <p>Our mission is to help you fulfill your needs and goals. If you are looking for new opportunities, please check out our list of <router-link to="jobs">job opportunities</router-link>.</p>
        <p>For free, high quality skills training and educational opportunities, check out our new learning portal here:</p>
        <router-link to="education"><b-button variant="primary">Learning Portal</b-button></router-link>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col>
        <h2>Other Resources</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4">
        <div>
          <h3>Basic Needs</h3>
          <ul>
            <li><router-link to="food">Food Pantries</router-link></li>
            <li><router-link to="food">Soup Kitchens</router-link></li>
            <li>General Clothing</li>
          </ul>
        </div>
        <div>
          <h3>Health/Dental Care</h3>
          <ul>
            <li>Community Clinics</li>
            <li>Dental Care</li>
          </ul>
        </div>
        <div>
          <h3>Transportation</h3>
          <ul>
            <li>Local Bus Services</li>
          </ul>
        </div>
        <div>
          <h3>Housing/Shelters</h3>
          <ul>
            <li><router-link to="housing">Halfway Houses</router-link></li>
            <li><router-link to="housing">Homeless Shelters</router-link></li>
            <li><router-link to="housing">Homeless Drop In Centers</router-link></li>
            <li><router-link to="housing">Low Income/Subsidized Private Rental Housing</router-link></li>
          </ul>
        </div>
      </b-col>
      <b-col sm="4">
        <div>
          <h3>Mental Health Services</h3>
          <ul>
            <li>Psychiatric Day Treatment</li>
            <li>Community Mental Health Agencies</li>
            <li>Mental Health Hotlines</li>
            <li>Domestic Violence Hotlines</li>
            <li>Suicide Prevention Hotlines</li>
          </ul>
        </div>
        <div>
          <h3>Substance Abuse</h3>
          <ul>
            <li>Substance Abuse Day Treatment</li>
            <li>Substance Abuse Counseling</li>
            <li>Alcohol Dependency Support Groups</li>
            <li>Drug Dependency Support Groups</li>
          </ul>
        </div>
        <div>
          <h3>Community Reentry Services for Ex-Offenders</h3>
          <ul>
            <li>Ex-Offender Reentry Programs</li>
          </ul>
        </div>
      </b-col>
      <b-col sm="4">
        <div>
          <h3>Employment/Training</h3>
          <ul>
            <li><router-link to="jobs">Employment Assistance</router-link></li>
            <li>Local Training Classes</li>
            <li>Online Education Portal</li>
          </ul>
        </div>
        <div>
          <h3>Records/Licenses</h3>
          <ul>
            <li>Driver Licenses</li>
            <li>Records/Licenses/Permits</li>
            <li>Replacing Documents When You Have Lost All of Your IDs</li>
            <li>Social Security Numbers</li>
          </ul>
        </div>
        <div>
          <h3>2-1-1 Regional Reentry Directories</h3>
          <ul>
            <li>Marion County Directory</li>
          </ul>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="sass" scoped>
h1
  margin: 50px 0 20px
  font-size: 30px
h2
  font-size: 24px
h3
  font-size: 16px
li
  font-size: 12px
hr
  margin: 40px 0
</style>
