.admin-page-container
  margin-top: 50px
  tr
    outline: none

  .ct-label
    font-size: 16pt !important

  .ct-square::before
    padding-bottom: 50%

  @media(max-width: 900px)
    .ct-square::before
      padding-bottom: 100%
