<template>
  <b-container class="food-page-container">
    <b-row>
      <b-col>
        <h1>Welcome to Project HandUp</h1>
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <p>More than <strong>1 million Hoosiers live in households that don’t have enough food</strong> to feed their families every day, yet our country produces enough food to feed everyone. If you live in one of those households, you are not alone.</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h2>Helpful Resources</h2>
        <ul>
          <li><router-link to="#">Indiana Foodbank Listings by County</router-link></li>
          <li><router-link to="#">SNAP and Foodstamp Benefits</router-link></li>
          <li><router-link to="#">School Lunch and Breakfast Programs</router-link></li>
          <li><router-link to="#">Healthy Meal Preparation Classes</router-link></li>
          <li><router-link to="#">Budget Food Shopping Guide</router-link></li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'food',
  computed: {
    breadcrumbs() {
      return [
        {
          text: 'Home',
          to: { name: 'home' }
        },
        {
          text: 'Food',
          active: true
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
h1
  margin: 50px 0 20px
  font-size: 30px
h2
  font-size: 24px
h3
  font-size: 16px
li
  font-size: 16px
hr
  margin: 40px 0
</style>
