<template>
  <b-container class="housing-page-container">
    <b-row>
      <b-col>
        <h1>Welcome to Project HandUp</h1>
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <p>If you’re looking for access to safe, habitable, and clean housing, 2-1-1 can help. Whether you’re in need of new housing, utility assistance, or financial support for much-needed home repairs, we can direct you to the right resources.</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h2>Helpful Resources</h2>
        <ul>
          <li><router-link to="#">Full List of Registered Shelters</router-link></li>
          <li><router-link to="#">Low Income Housing Information</router-link></li>
          <li><router-link to="#">Temporary Housing</router-link></li>
          <li><router-link to="#">Elderly Housing</router-link></li>
          <li><router-link to="#">Veteran Housing</router-link></li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'housing',
  computed: {
    breadcrumbs() {
      return [
        {
          text: 'Home',
          to: { name: 'home' }
        },
        {
          text: 'Housing',
          active: true
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
h1
  margin: 50px 0 20px
  font-size: 30px
h2
  font-size: 24px
h3
  font-size: 16px
li
  font-size: 16px
hr
  margin: 40px 0
</style>
