<template>
  <b-container class="jobs-page-container">
    <b-row>
      <b-col>
        <h1>Welcome to Project HandUp</h1>
        <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
        <p>Whether you’re looking to reenter the workforce, upgrade your job, or find a new career, Project HandUp can help connect job seekers with the employers who need them.</p>
        <p>Search available job listings in your area, find occupational and vocational training, and learn about programs that offer career counseling and resume preparation assistance. You can also find information about temporary work, day-laborer opportunities, and disability and special-needs services. Project HandUp empowers you to be your own advocate by providing you with resources that explain your employment rights as well as which unemployment benefits you’re entitled to.</p>
        <p>We are also your connection to education opportunities in your area. Are you looking to prepare for your GED test, learn about community colleges and continuing education programs, or find out about tuition loans and grants that are available to you?  We can provide information about English as Second Language (ESL) education and literacy programs for children and adults. You’ll also find information about early-learning initiatives for preschool-aged children and after-school enrichment programs for students in Kindergarten through high school. The road to a successful future starts here.</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h2>Helpful Resources</h2>
        <ul>
          <li><router-link to="#">Job Board</router-link></li>
          <li><router-link to="#">Resume Help</router-link></li>
          <li><router-link to="#">Interview Preparation</router-link></li>
          <li><router-link to="#">Skills Training & Events</router-link></li>
          <li><router-link to="#">Job Fairs</router-link></li>
        </ul>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'jobs',
  computed: {
    breadcrumbs() {
      return [
        {
          text: 'Home',
          to: { name: 'home' }
        },
        {
          text: 'Jobs',
          active: true
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
h1
  margin: 50px 0 20px
  font-size: 30px
h2
  font-size: 24px
h3
  font-size: 16px
li
  font-size: 16px
hr
  margin: 40px 0
</style>
