<template>
  <div>
    <router-view name="header"></router-view>
    <b-container fluid>
      <b-col sm="8" offset-sm="2">
        <router-view />
      </b-col>
    </b-container>
  </div>
</template>
